@{
    ViewData["Title"] = "Iletişim";
}

<div class="contact-map-container">
    <div class="contact-info">
        <h4>İletişim Bilgilerimiz</h4>
        <p><strong>Adres:</strong> Örnek Mahallesi, No: 123, İstanbul, Türkiye</p>
        <p><strong>Telefon:</strong> +90 555 123 45 67</p>
        <p><strong>E-posta:</strong> iletisim@webdeneme2.com</p>
    </div>

    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.894478576366!2d30.322898575884544!3d40.74234737138902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccad1f0582e81f%3A0xe36064490ace325e!2zU2FrYXJ5YSDDnG5pdmVyc2l0ZXNpIEJpbGdpc2F5YXIgdiBCaWxpxZ9pbSBCaWxpbWxlcmkgRmFrw7xsdGVzaSBZYXrEsWzEsW0gTcO8aGVuZGlzbGnEn2kgQsO2bMO8bcO8!5e0!3m2!1str!2str!4v1734223161480!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>